@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
                
body{
    background: #E5E5E5;
    display: flex;
    justify-content: center;   
}
.container{

    width: 575px;
    height: 385px;
    background: #1B244A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-radius: 20px;
    transform: translateY(50%);
}

.team{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    width: 149px;
    height: 36px;
    text-align: center;
    color: #EEEEEE;
}
#score-board{
    width: 155px;
    height: 120px;
    margin-bottom: 20px;
    background: #080001;
    border-radius: 5px;
    color: white;
    font-family: 'Cursed Timer ULiL', sans-serif;
    display: block;
    position: relative;
    bottom: 40px;  
}
.score{
    display: flex;
    justify-content: space-around;
}
.score-text{
    width: 117px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    display: block;
    
}
#btn-text{
    width: 45px;
    height: 45px;  
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                     
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    
    /* text-align: center; */
    background: #1B244A;
    
    color: #9AABD8;
    font-style: normal;
}
#resetButton{
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                     
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    
    /* text-align: center; */
    background: #1B244A;
    
    color: #9AABD8;
    font-style: normal;
}

